body {
    width: 60%;
    margin: auto;
}


/**********Header*************************/

header {
    background-image: url(../img/pattern.png);
    background-color: lightskyblue;
    background-size: 320px;
    background-repeat: repeat-x;
    height: 80px;
    width: 100%;
}

#logo {
    width: 150px;
    padding-top: 40px;
}

article{
    width: 100%;
}

/***************Titolo**************/

h1 {
    margin-top: 10px;
    font-weight: 900;
    margin-bottom: 0px;
    font-size: 40px;
}

.scritto-da {
    color: grey;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#booleaner {
    color: rgb(110, 194, 233);
}

.data{
    font-size: 10px;
    color: grey;
    margin-top: 0px;

}

/***********Immagini****************/

figure{
    margin: 0px;
    height: 300px;
    width: 100%;
}

#foto-1 {
    height: 100%;
    width: auto;
}

#foto-2 {
    height: 100%;
    width: auto;
}

figcaption {
    font-size: 9px;
}

/************Testo****************/

.testo-1 {
    margin-top: 40px;
}

.giallo { 
    background:#FFFF00;
}

ul {
    padding-left: 15px;
} 

/*******Tabella****************/

table {
    width: 100%; 
}

thead {
    background-color: cornflowerblue;
}

.col-1, .col-2 {
    width: 20%;
}

.col-3 {
    width: 60%;
}

.riga-1, .riga-3 {
    background-color: cyan;
}

/******Footer***********/

h3 {
    color: grey;
    font-size: 16px;

}

.footer {
    width: 200px;
    height: 150px;
    color: white;
    padding-left: 5px;
    padding-top: 10px;
    margin: 10px 0px;
}

.footer.prima {
    background-image: url(../img/monitor.jpg);
    background-size: cover;
} 

.footer.seconda {
    background-image: url(../img/graph.jpg);
    background-size: cover;
}
